<footer>
    <div class="container">
        <div class="footer-top">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="footer-logo">
                        <a href="index.html"><img src="assets/img/footer-logo.png" alt=""></a>
                        <p>Golf Space is where passion meets precision. Experience the joy of outdoor golfing with
                            modern facilities, expert guidance, and a community built for every level of player.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="row gy-5">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="social-media">
                            <h4>Find Here:</h4>
                            <ul class="social-icons">
                                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <h4>Our Club</h4>
                        <ul class="footer-menu">
                            <li><a href="facility.html">Golf Simulator</a></li>
                            <li><a href="facility.html">Swiming Pool</a></li>
                            <li><a href="facility.html">Golf Academy</a></li>
                            <li><a href="facility.html">Fitness Center</a></li>
                            <li><a href="about.html">Golfer Event </a></li>
                            <li><a href="membership.html">Membership</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <h4>Hours of Open</h4>
                        <ul class="office-time">
                            <li>Mon-Wed: 6:00am – 8:00pm</li>
                            <li>Thurs-Fri: 6:30am – 7:30pm</li>
                            <li>Sat-Mon: 6:00am – 8:00pm</li>
                            <li>Sat-Wed: 6:30am – 7:30pm</li>
                            <li>Sunday : Closed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <h4>Contacts</h4>
                        <div class="number">
                            <div class="num-icon">
                                <i><img src="https://demo.egenslab.com/html/golflab/assets/img/icons/phone-2.svg"
                                        alt=""></i>
                            </div>
                            <div class="phone">
                                <a href="">+1 613 888 8888</a>
                            </div>
                        </div>
                        <div class="office-mail">
                            <div class="mail-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="email">
                                <a href=""><span class="__cf_email__"
                                        data-cfemail="fb92959d94bb9e839a968b979ed5989496">info@golfspace.example</span></a>
                                <a href=""><span class="__cf_email__"
                                        data-cfemail="b0d9ded6dff0c3c5c0c0dfc2c49ed3dfdd">business@golfspace.example</span></a>
                            </div>
                        </div>
                        <div class="address">
                            <div class="address-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <p>1385 Woodroffe Avenue, Ottawa, ON, K2G 1V8</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 col-lg-4 col-xl-5">
                    <div class="copy-txt">
                        <span>Copyright 2025 <b>Golf Lab</b></span>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-7">
                    <ul class="footer-bottom-menu">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Support Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>