<header class="position_top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 col-md-6 col-lg-2">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-10 text-end">
                <nav class="main-nav">
                    <div class="mobile-menu-logo">
                        <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="facility.html">Facilities</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="membership.html">Pricing</a></li>
                        <li class="has-child active">
                            <a href="#">Blogs</a>
                            <i class="bi bi-chevron-down"></i>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog List</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="has-child active">
                            <a href="#">About</a>
                            <i class="bi bi-chevron-down"></i>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="hot-line">
                        <div class="icon">
                            <i><img src="https://demo.egenslab.com/html/golflab/assets/img/icons/phone-white.svg"
                                    alt=""></i>
                        </div>
                        <div class="line-cnt">
                            <span>Hot Line Number</span>
                            <a href="">+1-613-888-8888</a>
                        </div>
                    </div>
                    <div class="btn-block">
                        <div class="membership-btn">
                            <a href="membership.html">Join Membership<i class="far fa-user"></i></a>
                        </div>
                    </div>
                </nav>
                <div class="mobile-menu">
                    <a href="javascript:void(0)" class="cross-btn">
                        <span class="cross-top"></span>
                        <span class="cross-middle"></span>
                        <span class="cross-bottom"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>